<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> YOUTOPIA ATLAS </title>
    <link rel="stylesheet" href="atlas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>
  <body>
    <header>
      <h2>the ATLAS <i class="fas fa-globe"></i></h2>
    </header>
    <section class="firstRow">
      <section>
        <p><a href="/business">WORLD OF BUSINESS & ECONOMICS</a></p>
      </section>
      <section>
        <p><a href="/art">WORLD OF ART & AESTHETIC</a></p>
      </section>
      <section>
        <p><a href="/science">WORLD OF SCIENCE & TECHNOLOGY</a></p>
      </section>
      <section>
        <p><a href="/academia">WORLD OF EDUCATION & ACADEMIA</a></p>
      </section>
    </section>
    <section class="secondRow">
      <section>
        <p><a href="/spiritual">WORLD OF SPIRITUALITY & ALTERNATIVE THINKING</a></p>
      </section>
      <section>
        <p><a href="/media">WORLD OF MEDIA & ENTERTAINMENT</a></p>
      </section>
      <section>
        <p><a href="/govt">WORLD OF GOVERNMENT & POLITICS</a></p>
      </section>
    </section>
    <section class="atlasImg">
      <a href="#"><img src="./images/revolvingWorld.gif" alt=""></a>
    </section>
    <section class="navBox">
      <nav>
        <section>
          <ul>
            <a href="/profile"><li>Profile</li></a>
            <a href="/feed"><li>Feed</li></a>
            <a href="/atlas"><li>ATLAS<i class="fas fa-globe-africa"></i></li></a>
          </ul>
        </section>
        <section>
          <h1>YouTopia</h1>
        </section>
        <section>
          <ul>
            <li><input type="text" name="" value=""> <button type="button" name="button"><i class="fas fa-search"></i></button></li>
            <li><a href="#"><i class="fas fa-cogs"></i></a></li>
          </ul>
        </section>
      </nav>
    </section>
  </body>
</html>
